@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: extend tailwind instead of writing raw css. even better, figure out how to access data attributes in react comp */
.image-medium {
  margin: auto;
  width: 95%;
}
@media (min-width: 640px) {
  .image-medium {
    width: 75%;
  }
}

.image-small {
  margin: auto;
  width: 95%;
}
@media (min-width: 640px) {
  .image-small {
    width: 50%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
